:root {
  --black: #000000;
  --black-26: #262626;
  --gray-db: #dbdbdb;
  --gray-8e: #8e8e8e;
  --gray-a8: #a8a8a8;
  --gray-fa: #fafafa;
  --gray-ef: #efefef;
  --black-26: #262626;
  --white: #ffffff;
  --blue-B2: #b2dffc;
  --blue-00: #0095f6;
  --blue-38: #385185;
  --blue-0037: #00376b;
  --blue-0095: #0095f6;
  --red-f5: #f50000;
  --red-ed: #ed4956;
  --instagram: linear-gradient(
    45deg,
    #405de6,
    #5851db,
    #833ab4,
    #c13584,
    #e1306c,
    #fd1d1d
  );
}
