.img {
  width: 614px;
  height: 346px;
}

.addPost {
  width: 100px;
  height: 30px;
  cursor: pointer;
  font-size: 17px;
  color: var(--white);
  border-radius: 10px;
  margin: 15px;
  background: var(--instagram);
}

.cartInfo {
  background-color: var(--white);
  border: 1px solid var(--gray-ef);
  width: 614px;

  & .cartIcons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 12px;

    & svg {
      cursor: pointer;
    }

    & .CILeft {
      & svg:nth-child(1) {
        margin-left: 16px;
      }
      & svg:nth-child(2) {
        margin-left: 15px;
      }
      & svg:nth-child(3) {
        margin-left: 15px;
      }
    }

    & .CIRight {
      margin-right: 16px;
    }
  }

  & .likes {
    color: var(--black-26);
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    margin-top: 14px;
  }

  & .cartName {
    color: var(--black-26);
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    margin-top: 14px;
    display: flex;

    & p {
      font-size: 14px;
      font-weight: 400;
    }
  }

  & .comments {
    color: var(--gray-8e);
    font-size: 14px;
    margin-left: 16px;
    margin-top: 11px;
    cursor: pointer;

    &:active {
      color: var(--gray-db);
    }
  }

  & .commentName {
    color: var(--black-26);
    font-size: 14px;
    font-weight: 500;
    margin-left: 16px;
    margin-top: 10px;
    display: flex;

    & p {
      font-size: 14px;
      font-weight: 400;
    }
  }

  & .timeAgo {
    font-size: 10px;
    color: var(--gray-8e);
    text-transform: uppercase;
    margin-left: 16px;
    margin-top: 11px;
  }

  & .hr {
    background-color: var(--gray-ef);
  }
}

.modal form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--white);
  z-index: 999;
  opacity: 1;
  flex-direction: column;

  & label {
    font-size: 14px;

    & .fileInput {
      max-width: 180px;
    }
    & .textInput {
      border: 1px solid var(--gray-db);
      outline: none;
      padding: 2px 5px;
      border-radius: 5px;
      margin-top: 25px;
    }
  }
  & .submitInput {
    text-align: center;
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    color: var(--white);
    margin-top: 30px;
    cursor: pointer;
    background: var(--blue-00);
  }
}
